.navbar {
    height: 100%;
    width: 100%;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
}

.section {
    padding-bottom: var(--mantine-spacing-xs);
}

.link {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: var(--txt-secondary);
    padding-left: var(--mantine-spacing-xs);
    min-height: 32px;
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;
    user-select: none;

    @mixin hover {
        background-color: var(--bg-layer-1);
        color: var(--txt-primary);
    }

    &[data-active] {
        &,
        &:hover {
            background-color: var(--bg-accent-subtle);
            color: var(--txt-accent-primary);
        }

        .linkIcon {
            color: var(--txt-accent-primary);
        }
    }
}

.linkIcon {
    color: var(--txt-tertiary);
    margin-right: var(--mantine-spacing-sm);
    width: rem(16px);
    height: rem(16px);
}

.sectionHeader {
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    font-size: var(--mantine-font-size-xs);
    color: var(--txt-tertiary);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.spacer {
    flex: 1;
}

.bottomSection {
    padding-top: var(--mantine-spacing-xs);
    border-top: rem(1px) solid var(--border-subtle);
}

.spaceItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--mantine-spacing-sm);
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: var(--txt-secondary);
    padding-left: var(--mantine-spacing-xs);
    min-height: 32px;
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;
    user-select: none;

    @mixin hover {
        background-color: var(--bg-layer-1);
        color: var(--txt-primary);
    }
}
